%fontStack {
	font-family: "Chakra Petch", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}
%fontStackBold {
	font-family: "Chakra Petch", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 700;
}
