%fontStack {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: $textDark;
	font-weight: 700;
}
%fontStackHeaders {
	font-family: monospace;
	font-size: 1rem;
	color: $textDark;
	font-weight: 700;
}
