* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	list-style-type: none;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

a:not([class]) {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
	border: none;
	box-shadow: none;
}
