@import "reset";
@import "mixins";
@import "extends";

// TODO replace media queries for mixins

// Uitlity Classes
.flex-center {
	@include flexCenter();
}
.container {
	max-width: 1600px;
	padding: 0 2rem;
	margin: auto;
	@media screen and (min-width: 992px) {
		padding: 0 4rem;
	}
}
.underline {
	border-bottom: 1px solid;
}
.item-double {
	grid-column: span 1;
	@include screen-size("sm") {
		grid-column: span 2;
	}
}

// Components
.btn-primary {
	display: inline-block;
	padding: 2px;
	span {
		display: inline-block;
		padding: 0.25rem 1.5rem;
	}
}
.btn-primary.arrow {
	@include flexCenter();
	padding: 2px;
	span {
		padding: 0rem 0.75rem;
		@include flexCenter();
	}
	img {
		min-width: 10px;
	}
}
.btn-primary.tag {
	padding: 3px;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 0.875rem;

	span {
		padding: 0.25rem;
	}
}
.btn-search-suggestion {
	text-align: left;
	width: 100%;
	display: inline-block;
	padding: 2px;
	span {
		display: inline-block;
		padding: 0.375rem 1rem;
		width: 100%;
	}
}
.input-title-bar {
	width: 100%;
	padding: 0.5rem;
	font-size: 0.875rem;
	margin-bottom: 1rem;
}
.window-item {
	padding: 2px;
	width: 100%;
	.wi-header {
		// @include flexCenter(row nowrap);
		// justify-content: space-between;
		padding: 0.375rem;
		font-size: 0.875rem;
		margin-bottom: 0.125rem;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		.remove-element {
			background: url(../assets/icons/close.svg);
			width: 1rem;
			height: 0.875rem;
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
		}
	}
	.img-container {
		overflow: hidden;
		position: relative;
		height: 350px;
		.img-element {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		button,
		a {
			position: absolute;
			bottom: 1rem;
			left: 0.5rem;
		}
	}
}
.trend-item {
	width: 100%;
	height: 350px;
	overflow: hidden;
	padding: 0.125rem;
	position: relative;
	.trend-header {
		position: absolute;
		padding: 0.375rem;
		margin-bottom: 0.125rem;
		font-size: 0.875rem;
		bottom: 0;
		left: 0;
		right: 0;
		white-space: nowrap;
		overflow: hidden;
		display: none;
	}
	.img-element {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		&:hover ~ .trend-header {
			display: block;
		}
	}
}

// General element styles
body {
	@extend %fontStack;
	margin: 0 auto;
}
h1 {
	font-size: 0.75rem;
	font-weight: normal;
	padding: 0.25rem 0.5rem;
}
button,
a {
	cursor: pointer;
}
section {
	margin-bottom: 4rem;
}

// Page Specific Sections
header {
	margin-top: 1px;
	box-shadow: 0 1px 0 0 #110038;
}

// TODO reusable dropdown section
.navbar {
	margin-top: 2.25rem;
	@include flexCenter(row);
	justify-content: space-between;

	.nav-item-container {
		@include flexCenter(row nowrap);
		.nav-item {
			margin-left: 1rem;
		}
		.btn-link {
			padding: 0.35rem 0.5rem 0.35rem 0;
		}
	}
	.dropdown-container-outer {
		position: relative;
		.dropdown-btn {
			@include flexCenter(row nowrap);
			border: none;
			text-align: center;
			div:last-child {
				align-self: stretch;
				span {
					align-self: stretch;
				}
			}
		}
		.dropdown-list {
			display: none;
			position: absolute;
			width: 100%;
			z-index: 1;
			.dropdown-list-item {
				display: block;
				margin: 0.625rem;
				padding: 0.5rem 0 0.5rem 1rem;
			}
		}
	}
}
.search-container {
	.search {
		margin-top: 2rem;
		position: relative;
		.search-header {
			padding: 0.375rem;
			margin: 0 2px;
			font-size: 0.875rem;
		}
		form {
			@include flexCenter(row nowrap);
			justify-content: space-between;
			padding: 0.75rem 1rem;
			input {
				width: 100%;
				padding: 0.8rem 1rem;
				margin-right: 0.5rem;
			}
			button[type="submit"] {
				flex-grow: 1;
				max-width: fit-content;
				span {
					p {
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: row;
					}
				}
			}
		}
		.search-suggestions {
			padding: 1rem;
			display: block;
			position: absolute;
			width: 100%;
			.search-element {
				margin-bottom: 0.5rem;
				&:last-child {
					margin-bottom: 0rem;
				}
			}
		}
	}
	.search-tags {
		margin-top: 0.75rem;
	}
}

.search-results {
	.result-container {
		display: grid;
		grid-template: 1fr / 1fr;
		gap: 1rem;
	}
	@media screen and (min-width: 576px) {
		.result-container {
			grid-template: 1fr / repeat(2, 1fr);
		}
	}
	@media screen and (min-width: 768px) {
		.result-container {
			grid-template: 1fr / repeat(3, 1fr);
		}
	}
	@media screen and (min-width: 992px) {
		.result-container {
			grid-template: 1fr / repeat(4, 1fr);
		}
	}
}
.trends {
	.trend-grid {
		display: grid;
		grid-template: 1fr / 1fr;
		grid-auto-flow: dense;
		gap: 1rem;
	}
	@media screen and (min-width: 576px) {
		.trend-grid {
			grid-template: 1fr / repeat(2, 1fr);
		}
	}
	@media screen and (min-width: 768px) {
		.trend-grid {
			grid-template: 1fr / repeat(3, 1fr);
		}
	}
	@media screen and (min-width: 992px) {
		.trend-grid {
			grid-template: 1fr / repeat(4, 1fr);
		}
	}
}

// Animations
