/* General element styles */
body {
	background-color: $colorSecondary;
}
h1 {
	color: $textWhite;
}
p {
	color: $textDark;
}
button {
	background-color: transparent;
	cursor: pointer;
	&:disabled {
		cursor: default;
		background: $bgElement !important;
		outline: none;
		box-shadow: $shadowItem;
		.btn__text-container {
			border: none;
		}
		&:hover {
			background: $bgElement;
			outline: none;
			.btn__text-container {
				border: none;
			}
			&::before,
			&::after {
				outline: none;

				&:hover {
					outline: none;
				}
			}
		}
	}
}

/* Objects */
.dropdown {
	&__list {
		background: $bgElement;
		box-shadow: $shadowElement;
		&__item {
			background: $colorElement;
			border: 1px solid $colorElementBorder;
			box-shadow: $shadowItem;
			&:hover {
				background-color: $colorThemeHover;
				border: 1px solid $colorElementSecondaryHover;
				color: $textBtn;
			}
		}
	}
}
.window-element {
	background: $bgElement;
	box-shadow: $shadowElement;
	&__header-container {
		background: $gradient;
		color: $textWhite;
	}
	&__content {
		&__video-element {
			@extend .loading-animation;
			border: 1px solid $colorInputBorder;
			box-shadow: $shadowInputBar;
		}
	}
}

/* Components */
.btn {
	&--icon-before {
		&::before {
			border: 1px solid black;
			box-shadow: $shadowPrimary;
		}
		&:hover::before {
			outline: 1px dotted $textDark;
			outline-offset: -4px;
		}
		&:disabled::before {
			box-shadow: $shadowItem;
		}
	}
	&--icon-after {
		&::after {
			border: 1px solid black;
			box-shadow: $shadowPrimary;
		}
		&:hover::after {
			outline: 1px dotted black;
			outline-offset: -4px;
		}
		&:disabled::after {
			box-shadow: $shadowItem;
		}
	}
	&--search-suggestion {
		background: $colorElement;
		border: 1px solid $colorElementBorder;
		box-shadow: $shadowItem;
		.btn__text-container {
			border: 1px dotted $colorElement;
		}
		&:hover {
			background: $colorElementHover;
			.btn__text-container {
				border: 1px dotted $textDark;
			}
		}
		&:active {
			background: $colorElementHover;
		}
	}
	&--full-width {
		.btn__text-container {
			border: none;
		}
		&:hover .btn__text-container {
			outline: 1px dotted $textDark;
			border: none;
		}
	}
	// BTN color variants
	&--primary {
		color: $textBtn;
		background: $colorPrimary;
		border: 1px solid $textDark;
		box-shadow: $shadowPrimary;
		.btn__text-container {
			border: 1px dotted $colorPrimaryHover;
		}
		&:hover {
			background: $colorPrimaryHover;
			.btn__text-container {
				border: 1px dotted $textDark;
			}
		}
	}
	&--secondary {
		background: $colorSecondary;
		color: $textBtn;
		border: 1px solid $colorSecondaryBorder;
		box-shadow: $shadowSecondary;
		.btn__text-container {
			border: 1px dotted $colorSecondaryHover;
		}
		&:hover {
			background: $colorSecondaryHover;
			.btn__text-container {
				border: 1px dotted $textBtn;
			}
		}
	}
	&--tag {
		background: $colorTag;
		border: 1px solid $borderTag;
		box-shadow: $shadowTag;
		color: $textWhite;
		.btn__text-container {
			border: 1px dotted $colorTag;
		}
		&:hover {
			background: $colorTagHover;
			.btn__text-container {
				border: 1px dotted $textDark;
			}
		}
	}
	&--recording {
		background: $colorRecording;
		border: 1px solid $textDark;
		box-shadow: $shadowRecording;
		color: $textWhite;
		.btn__text-container {
			border: 1px dotted $colorRecording;
		}
		&:hover {
			background: $colorRecording;
			.btn__text-container {
				border: 1px dotted $textDark;
			}
		}
	}
	&--link {
		border: 1px dotted transparent;
		color: $textBtn;
		&:hover {
			border: 1px dotted $textBtn;
		}
		&:active {
			color: $textBtn;
			opacity: 0.5;
		}
	}
}
.input-bar {
	background: $colorTitleBar;
	border: 1px solid $colorElementSecondaryHover;
	color: $textDark;
	box-shadow: $shadowTitleBar;
	&::placeholder {
		color: $textDark;
	}
	&--lg {
		background: $textWhite;
		border: 1px solid $colorInputBorder;
		box-shadow: $shadowInputBar;
		&::placeholder {
			color: $textClear;
		}
	}
	&--sm {
		background: $textWhite;
		border: 1px solid $colorInputBorder;
		box-shadow: $shadowInputBar;
	}
}
.gif {
	&-options {
		background: $bgElement;
		box-shadow: $shadowElement;
		&__header {
			background: $gradient;
			color: $textWhite;
		}
		&__content {
			border: 1px dotted transparent;
			&__action &__action__inner {
				border: 1px dotted transparent;
			}
			&:hover {
				border: 1px dotted $textDark;
				.gif-options__content__action {
					.gif-options__content__action__inner {
						border: 1px dotted $textDark;
					}
				}
			}
		}
	}
	&-simple {
		background: $bgElement;
		box-shadow: $shadowElement;
		&__header {
			background: $gradient;
			color: $textWhite;
		}
		&__content__img {
			border: 1px solid $bgElement;
			&:hover {
				border: 1px dotted $textDark;
			}
		}
	}
}
.loading-bar {
	&__container {
		background: $textClear;
		box-shadow: $shadowLoadingBar;
		&__progress-block {
			background-color: $colorPrimary;
			&--empty {
				background-color: $colorInputBorder;
			}
		}
	}
}

/* Page Specific Sections */
.header {
	background: $gradient;
	box-shadow: 0 1px 0 0 $textDark;
}
.search {
	&__box {
		background: $bgElement;
		box-shadow: $shadowElement;
		&__form {
			background: $bgElement;
			box-shadow: $shadowElement;
			&__header {
				background: $gradient;
				color: $textWhite;
			}
			input:placeholder-shown ~ button[type="submit"] {
				border: 1px solid $colorElementBorder;
				box-shadow: $shadowItem;
				.btn__text-container {
					border: 1px solid $bgElement;
					color: $textBtnDisabled;
				}
			}
		}
		&__suggestions {
			background: $bgElement;
			box-shadow: $shadowElement;
		}
	}
}
.gif-creation {
	&--stage5 {
		background: $textWhite;
		border: 1px solid $colorInputBorder;
		box-shadow: $shadowInputBar;
	}
	&--stage6 {
		.img-container {
			background: $textWhite;
			border: 1px solid $colorInputBorder;
			box-shadow: $shadowInputBar;
			.video-preview-img {
				@extend .loading-animation;
				border: 1px solid $colorInputBorder;
				box-shadow: $shadowInputBar;
			}
		}
	}
	&--stage7 {
		.img-container {
			background: $textWhite;
			border: 1px solid $colorInputBorder;
			box-shadow: $shadowInputBar;
		}
	}
}

/* Utility */
.underline {
	border-bottom-color: $textDark;
}
.loading-animation {
	background: $gradient;
	background-size: 400% 400%;
	animation: loading-animation 2s ease-in-out infinite;
	color: transparent;
}

/* Animations */
@keyframes loading-animation {
	0% {
		background-position: 0% 88%;
	}
	50% {
		background-position: 100% 13%;
	}
	100% {
		background-position: 0% 88%;
	}
}
