$bgColor: #fff4fd;
$bgGray: #e6e6e6;

$gradient: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);

$colorPrimary: #f7c9f3;
$colorPrimaryHover: #e6bbe2;

$colorSecondary: #fff4fd;
$colorSecondaryHover: #f0e5ee;

// TODO Replace with single use variables as $gradient
$colorUpload: #ff6161; // Upload button
$colorUploadBorder: #993a3a; // Upload border
$colorGray1: #e6e6e6; //
$colorGray2: #b4b4b4;
$colorGray3: #808080;
$colorGray4: #979797; // busqueda
$colorGray5: #999999; // Progress bar

$textDark: #110038;
$textClear: #b4b4b4;
$textWhite: #fff;

// Utility
.underline {
	border-bottom-color: $textDark;
}

// Components
.btn-primary {
	background: $colorPrimary;
	border: 1px solid $textDark;
	box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $textWhite;
}

// General element styles
body {
	background-color: $bgColor;
}
h1 {
	color: $textWhite;
}

p,
a {
	color: $textDark;
}

// Page Specific Sections
header {
	background: $gradient;
}
nav .brand-container {
	width: 6.25rem;
	height: 4rem;
	background-image: url(../../assets/img/gifOF_logo.png);
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}
.dropdown-list {
	background: #e6e6e6;
	box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
	.btn-dropdown {
		background: #f0f0f0;
		border: 1px solid #808080;
		box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
		&:hover {
			background-color: #fff4fd;
			border: 1px solid #cca6c9;
			box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
		}
	}
}
